<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="categoryList">
    <header class="w3-container w3-large">
        <p class="w3-left">카테고리 이름</p>
        <p class="w3-right">
            <input type="text" class="w3-border">
            <i class="fa fa-search"></i>
        </p>
    </header>

    <body>
        <div>
            <div class="w3-row w3-grayscale" style="display:flex;">
                <div class="w3-col l3 s6 w3-content w3-display-container" style="width: 100%;">
                    <div class="mySlides" style="text-align: center; vertical-align: middle;">
                        <div class="w3-container" style=" display: inline-block; width: 30%;">
                            <img src="https://i.ytimg.com/vi/9aDke7HDqfs/maxresdefault.jpg" style="width: 100%;">
                            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
                        </div>
                        <div class="w3-container" style=" display: inline-block; width: 30%;">
                            <img src="https://i.ytimg.com/vi/9aDke7HDqfs/maxresdefault.jpg" style="width: 100%;">
                            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
                        </div>
                        <div class="w3-container" style=" display: inline-block; width: 30%;">
                            <img src="https://i.ytimg.com/vi/9aDke7HDqfs/maxresdefault.jpg" style="width: 100%;">
                            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
                        </div>
                    </div>
                </div>
                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
            </div>

        </div>
    </body>
</th:block>

</html>